<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Captioning Page</title>
    <link rel="stylesheet" src="style.css">
</head>
<body>
    <nav class="topabove">
        <h2 style="display: flex"
       video Auto Captioner</h2>
    </nav>
    
    <h3>Please add your files here</h3>
    
    <Button>Press me</Button>
     <br>
     <br>
    <img src="static/images.jpeg" height="200pm" width="250pm" >

    <h2>About this site</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam veniam ex delectus nostrum nesciunt consequatur soluta adipisci pariatur facere dolor cumque libero, eos ratione molestiae magni non reprehenderit! Est, quam.</p>
</body>
</html>
</html>